<div class="calendar-container">
  <div class="column">
    <mat-card>
      <mat-card-content>
        <div class="calendar">
          <div class="calendar-headline">
            <div class="calendar-headline-month">
              {{ getMonthName(firstDayOfActiveMonth.getValue().getMonth()) }}
              {{ firstDayOfActiveMonth.getValue().getFullYear() }}
            </div>
            <div class="calendar-headline-controls">
              <button mat-icon-button color="primary" (click)="goToPrevMonth()">
                <mat-icon>chevron_left</mat-icon>
              </button>
              <button mat-button color="primary" (click)="goToToday()">
                Today
              </button>
              <button mat-icon-button color="primary" (click)="goToNextMonth()">
                <mat-icon>chevron_right</mat-icon>
              </button>
            </div>
          </div>

          <div class="calendar-weeks-grid">
            @for(week of weekdays(); track week) {
            <div class="calendar-weeks-grid-item">{{ week }}</div>
            }
          </div>

          <div class="calendar-grid">
            @for(date of daysOfTheMonth(); track date){
            <div
              class="calendar-grid-item"
              (click)="onActivate(date)"
              [ngClass]="{
                active:
                  date.toLocaleDateString() ===
                  activeDay().toLocaleDateString(),
                today:
                  today().toLocaleDateString() === date.toLocaleDateString(),
                inactive:
                  firstDayOfActiveMonth.getValue().getMonth() != date.getMonth()
              }"
            >
              <div>{{ date.getDate() }}</div>
              <div class="event-dots">
                @for(ev of allEvents()[date.toLocaleDateString()]; track ev; let
                idx = $index){ @if(idx < 12){
                <div
                  style="
                    background-color: green;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                  "
                ></div>
                } }
              </div>
            </div>
            }
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="column">
    <mat-card>
      <mat-card-content>
        <app-day-view [activeDay]="activeDay()"></app-day-view>
      </mat-card-content>
    </mat-card>
  </div>
</div>
