.form-container {
  padding-top: 5px;
  width: 25vw;
  min-width: 450px;
  background-color: white;
  > form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    > .control {
      > mat-form-field {
        width: 100%;
      }
    }
  }
}

.dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
