<div class="day-view-container">
  <div class="header-row row">
    <div>
      <span> {{ timezone }}</span>
    </div>
    <div>
      <span>
        {{ weekdayAndDate() }}
      </span>
    </div>
  </div>

  <div class="parent">
    @for(group of eventGroups(); track group){ @for(event of group.events; track
    event; let idx = $index){
    <div
      class="event"
      (click)="onEdit(event)"
      [ngStyle]="getEventStyle(group, event, idx)"
      cdkDrag
      cdkDragLockAxis="y"
      [cdkDragConstrainPosition]="computeDragRenderPos"
      cdkDragBoundary=".parent"
      (cdkDragEnded)="onDragEnded($event, event)"
      (cdkDragStarted)="onDragStarted($event)"
      [cdkDragData]="event"
    >
      <mat-icon
        style="font-size: 16px; width: auto; height: auto; cursor: pointer"
        cdkDragHandle
      >
        drag_handle
      </mat-icon>
      <span>
        {{ event.title }}
      </span>
      <div>
        {{ getHourWithMinutes(event.startDate) }} -
        {{ getHourWithMinutes(event.endDate) }}
      </div>
    </div>
    } } @for(hour of hoursOfDay(); track hour; let idx = $index){
    <div class="row">
      <div>
        <div class="time">
          {{ idx === 0 ? "" : getHourString(hour) }}
        </div>
      </div>
      <div matRipple (click)="openDialog(hour)"></div>
    </div>
    }
  </div>
</div>
